OPENROUTER_API_KEY=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
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_PROXY_URL=https://openrouter-proxy.emilio-perez.workers.dev/api/v1
MILVUS_HOST=your_milvus_host
MILVUS_PORT=19530
MILVUS_COLLECTION=legal_documents_mexico
MILVUS_USERNAME=
MILVUS_PASSWORD=
